

<div class="container-fluid p-3 my-3 border">
    <div class="row">  

        <div class="col-sm-6">    
            <form  action= {% url "creat-ticket" %} class="d-flex justify-content-center" >
                <button class="btn btn-secondary" type="submit" >Demander une critique</button>
            </form>
        </div>

        <div class="col-sm-6">
            <form action= "{% url "create-ticket-and-review" %}" class="d-flex justify-content-center" >
                <button class="btn btn-secondary" type="submit" >Créer une critique</button>
            </form>
        </div>
    </div>
</div>
