{% extends 'base.html' %}



{% block content %} 

<div>
{{followed}}
{{pair_test}}

</div>

{% include 'blog/buttons-top-review.html' %}

{% if not flux and not subscribe_an_account %}
<div class='container p-3 my-3 border'>
    <p class= 'text-center'> {{pair.followed_user}} n'a pas encore de post</p>
</div>

{% endif %}


{% for post in flux %}

    {% if post.content_type == 'TICKET' %}
        <div class='container p-3 my-3 border'>
            {% include 'blog/ticket-flux.html' %}
            {% include "blog/button-creat-review.html" %}
        </div>
        {% else %}
        <div class='container p-3 my-3 border'>
            {% include 'blog/review-flux.html' %}
        </div>
    {% endif %}
    
{% endfor %}



{% if subscribe_an_account %}
<div class='container p-3 my-3 border'>
    <p class= 'text-center'>{{subscribe_an_account}}</p>
</div>
{% endif %}


{% endblock content %} 



