{% extends 'base.html' %}



{% block content %} 

{% include 'blog/buttons-top-review.html' %}


{% for post in flux %}

    {% if post.content_type == 'TICKET' %}
        <div class='container p-3 my-3 border'>
            {% include 'blog/ticket-flux.html' %}
            {% include "blog/button-creat-review.html" %}
        </div>
        {% else %}
        <div class='container p-3 my-3 border'>
            {% include 'blog/review-flux.html' %}
        </div>
    {% endif %}
    
{% endfor %}


{% endblock content %} 

