{% extends 'base.html' %}



{% block content %} 

{% include 'blog/buttons-top-review.html' %}


<div>
    {% if message %}
        <p class='text-center'>{{message}}</p>
    {% endif %}
</div>


{% for post in flux %}



    {% if post.content_type == 'TICKET' %}
        <div class='container p-3 my-3 border'>
            {% include 'blog/ticket-flux.html' %}
            {% include "blog/button-creat-review.html" %}
        </div>
        {% else %}
        <div class='container p-3 my-3 border'>
            {% include 'blog/review-flux.html' %}
        </div>
    {% endif %}
    
{% endfor %}



{% if subscribe_an_account %}
<div class='container p-3 my-3 border'>
    <p class= 'text-center'>{{subscribe_an_account}}</p>
</div>
{% endif %}


{% endblock content %} 




