{% extends 'base.html' %}

{% block content %}

{% for post in flux %}
    {% if post.content_type == 'TICKET' %}
        
            {% if post.user_id == user.id %}
            <div class='container p-3 my-3 border'>
                {% include 'blog/ticket-flux.html' %}
                {% include 'blog/button-modify-ticket.html' %}
            </div>
            {% endif %}
        
    {% elif post.content_type == 'REVIEW' %}        
            {% if post.user_id == user.id %}
            <div class='container p-3 my-3 border'>
                {% include 'blog/review-flux.html' %}
                {% include 'blog/button-modify-review.html' %}
            </div>   
            {% endif %}
    {% endif %}
{% endfor %}

{% if not flux %}
<div class='container p-3 my-3 border'>
    <h2 class='d-flex justify-content-center'> Vous n'avez aucun posts</h2>
</div>
{% endif %} 

{% endblock %}