{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid p-5">
    <h3 class="text-center p-3 my-3">Suivre d'autres utilisateurs</h3>
    
    <form method='POST'>
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recherche d'un utilisateur par nom" aria-describedby="button-addon2">
            <button type= 'submit' class="btn btn-outline-secondary"  id="button-addon2">Envoyer</button>
        </div>
    </form>
    
    <h3 class="text-center p-3 my-3">Abonnements</h3>
    <div class="input-group mb-3">
        
    </div>

    <h3 class="text-center p-3 my-3">Abonnés</h3>
    <div class="input-group mb-3">
        
    </div>


</div>
{% endblock content %}