{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <h2 class="d-flex justify-content-center">Inscrivez-vous maintenant:</h2>
      <form action= {% url 'signup' %} class="d-flex justify-content-center" >
        <button class="btn btn-secondary" type="submit" >S'inscrire</button>
      </form>
    </div>

    <div class="col-sm-6">
      <h2 class="d-flex justify-content-center">Connectez-vous</h2>
      <form method="post" >
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-secondary " type="submit" value="login" >Connexion</button>
        </div>
      </form>
      
    </div>

  </div>
</div>


{% endblock content%}